# ignore the 'Lab2/images/' folder
Lab2/images/

# ignore the huge vectorized csv
Lab2/male_PA_vectorized.csv

# ignore all .cxv?
Lab2/*.csv

# ignore ipynb_checkpints
.ipynb_checkpoints/

# ignore the images form lab6
Lab6/sample/
